/* -----------mapa----------*/
/* --------menu movil-------*/
/* -----------mapa----------*/
header
{
	padding-top: 20px;
	z-index: 1000;
	position: absolute;
}
header .foto, header .icono
{
	padding: 5px;
	width: 70px;
	border-radius: 50%;
	border:1px solid #888;
	background: white
}
header .icono
{
	font-size: 60px
}
#map
{
	height:100%;
	width:100%;
	position: absolute;
}
img
{
	width: 30px;
	display: inline-block;
}
li:hover
{
	background: #E6E6E6;
	color: white
}
li
{
	margin: 5px;
	width: 240px
}
.direccion,.lista
{
	font-size: 25px
}

#pickup
{
	color: white;
	background: #29088A;
	padding: 20px;
	display: block;
	margin: 2px;
	border-radius: 10px
}
#pickup:hover
{
	text-decoration: none
}
.badge
{
	background: none !important;
	color: black !important
}
.autos
{
	width: 100%
}
.boton-autos
{
	position: absolute;
	bottom: 90px;
	width: 100%
}
footer
{
	font-size: 30px;
	position: absolute;
	bottom: 0;
	width: 100%
}




