body .row
{
	margin: 0
}
/* ---------header----------*/
header
{
	padding-top: 20px;
	z-index: 1000;
	position: absolute;
}
header .foto
{
	padding: 5px;
	width: 70px;
	border-radius: 50%;
	border:1px solid #888;
	background: white
}
header .icono
{
	font-size: 60px
}
/* -----------mapa----------*/
#map
{
	height:100%;
	width:100%;
	position: absolute;
}
#map .map .gmnoprint img
{
	width: 30px !important
}
/* -------flechas nav-------*/
.flechas
{
	position: absolute;
	z-index: 1000;
	bottom: 380px;
	font-size: 30px;
	width: 100%
}
.flechas span
{
	border-radius:50%;
	background: white;
	border: 1px black solid;
	padding: 12px;
	display: inline;
}
/* -------auto select-------*/
.selecto
{
	padding: 10px;
	position: absolute;
	z-index: 1000;
	bottom: 90px;
	background:#F2F2F2;
	width: 100%;
	border-radius: 10px
}
.selecto img
{
	width: 130px;
	margin-top: 20px
}
.precio
{
	font-size: 25px
}
.autos
{
	width: 100%
}
.boton-autos
{
	position: absolute;
	bottom: 90px;
	width: 100%
}
.mastercard img
{
	width: 30px;
	margin-right: 10px
}
/* --------div puntos-------*/
.circulo-a
{
	color: #29088A
}
.circulo-r
{
	color: #FE2EC8
}
.ver
{
	width: 5px
}
.puntos
{
	background: white;
	padding-top: 10px;
	font-size: 20px;
}
/* ---------footer----------*/
.pickup
{
	color: white;
	background: #FE2EC8;
	padding: 20px;
	display: block;
	border-radius: 10px
}
.pickup:hover
{
	text-decoration: none
}
footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size:30px;
}





