
header
{
	margin-top: 5%;
}
header i
{
	font-size: 35px !important;
	padding-top:30%;
	color: black
}
header hr
{
	width: 100%;
	color: #444;
}
.btn-next
{
	color: white;
	background: rgb(248,69,186);
	border: none;
	width: 100%;
	font-size: 30px;
	padding: 5% !important;
	position: absolute;
	bottom: 0;
}
