
#name,#email
{
	padding-left: 38px;
	
}
.input input
{
	width: 100%;
	border-radius: 5px;
	position: absolute;
}
.input span
{
	position:relative;
	top:28px; 
	left: 10px;
	z-index: 2000;
}
.check
{
	margin-top: 10%
}
.check span
{
	color: #58D3F7
}
.check h4
{
	margin: 0
}
input[type="checkbox"]{
 -webkit-appearance: none;
 border: 1px solid #00BFFF;
 width: 15px;
 height: 15px;
 border-radius: 2px;
}
 
input[type="checkbox"]:checked{
 background: #00BFFF;
}
