body
{
	background: url(../images/portada.jpg) no-repeat;
	background-size: cover ;
    background-attachment: fixed;
    background-position: top center; 	
}
.index .titulo
{
	padding-top: 30%;
	margin-bottom: 70%;
}
.index .titulo img
{
	width: 200px 
}
.index .botones
{
	padding:200px 20px;
	padding-bottom: 0
}
.index .botones a
{
	text-decoration:none;
	color: white
}
.index .boton-i button
{
	background: rgba(122,114,114,.2);
	border:white 3px solid;
	border-radius: 15px;
	color:white;
	font-size: 30px;
}
.index .boton-d button
{
	background:-webkit-linear-gradient(left, purple,#FF00FF);
	border:transparent 3px solid;
	border-radius: 15px;
	color:white;
	font-size: 30px
}
.index button
{
	width: 100%;
	padding: 40px
}
/*
paises.csv
convertidor de csv a json
poner ese archivo en otra plantilla js y lo exportamos
compress to a single line: 
hacer una variable que tenga ahi lo q m convirtio en una linea
JSON.parse(paises);
boostrapFormHelper.com*/