
.boton-select img
{
	padding: 0 5px
}
.select-paises p
{
	margin-top: 20px;
	font-size: 20px
}

#span
{
	position: absolute;
	z-index: 100;
	left: 64px;
	top:7px;
}
input
{
	padding-left: 42px !important;
	position: relative;
}